<!-- Page Heading -->
<!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div> -->

<!-- Content Row -->
<div class="row">
  <div class="px-4">
    <h1 class="display-5 font-monospace text-center mb-3">Welcome to Angular Task of GDIC</h1>
    <div class="col-12 mx-auto">
      <h6 class="text-decoration-underline mb-4 muted">Task Description is given below:</h6>
      <ol class="list-group list-group-numbered">
        <li class="list-group-item"><b>Please create a project using Angular version 12.x.x and reactive form.</b></li>
        <li class="list-group-item">Create two modules such as Authentication and Employee (Use lazy loading)</li>
        <li class="list-group-item">In Authentication module, there will be a Login Component that has two input field, Username and Password. (Use Reactive Forms, Form Validation (required))</li>
        <li class="list-group-item">In the employee module, there will be an employee list and add new employee functionalities.</li>
        <li class="list-group-item"><b>In the employee list route, using resolver service is mandatory.</b></li>
        <li class="list-group-item">
          In add to new employee, there will be three tabs where:
          <ol class="list-disc">
            <li>
              First tab contains employee basic information like First Name (required), Last Name,
              Date of Birth (required, maximum date previous day), Phone (required, value must
              be [0-9], minimum and maximum 11 char), Gender (required)
            </li>
            <li>
              Second tab contains employee skill information like Skill Name (required),
              Experience in Years (required), Skill Level (Beginner, Intermediate, Advanced)
              (required)
            </li>
            <li>
              Third tab contains preview of employee basic information and skill
            </li>
          </ol>
        </li>
        <li class="list-group-item">Use the state management library (NGRX) to keep the form data when move one tab to another tab.</li>
        <li class="list-group-item">Create a repository on GitHub and share the repository.</li>
        <li class="list-group-item">For Employee List Demo API: <a href="https://dummy.restapiexample.com/api/v1/employees">Click Here</a></li>
      </ol>
      <div>
        <b class="mr-1">N.B:</b> Please note that number 1, 5 and 7 are required to complete the task.
      </div>
    </div>
  </div>
</div>
