  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/dashboard">
        <div class="sidebar-brand-text mx-3">Test</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" routerLink="/dashboard">
            <i class="icon-home"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <li class="nav-item active">
      <a class="nav-link" routerLink="/employee/list">
          <i class="icon-users"></i>
          <span>Employee List</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <li class="nav-item active">
      <a class="nav-link" routerLink="/add-employee">
          <i class="icon-user-plus"></i>
          <span>Add Employee</span></a>
    </li>
</ul>
<!-- End of Sidebar -->
