/* You can add global styles to this file, and also import other style files */
/* Tailwin CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*NGX Toastr*/
@import '~ngx-toastr/toastr';


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* SB ADMIN THEME*/
@import 'assets/sb-theme-style/sb-admin-2.scss';

/*Utility CSS*/
.row-highlight-primary {
  background-color: rgba(0, 0, 0, 0.03) !important;
  background-image: none !important;
}

.custom-btn {
  width: 35px !important;
  height: 25px !important;
  padding: 0;
}

.custom-btn-round {
  width: 32px !important;
  height: 32px !important;
  padding: 0;
}
